.navDiv {
    height: 76px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6D00;
}

.iconDiv {
    position: relative;
    font-size: 40px;
    margin: 0 27px;
}