.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}

.cadastro {
    text-align: center;
    margin: 40px;

}

.email,
.senha,
.nome {
    margin: 15px;
}